/* INFO: Custom Keyframes */
@keyframes glowCycle {
  0% {
    text-shadow: #00ff00 0 0 4px;
  }
  50% {
    text-shadow: #a200ff 0 0 4px;
  }
  100% {
    text-shadow: #ff009d 0 0 4px;
  }
}
@keyframes tabSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes tabSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-30rem);
  }
}

/* INFO: Font Family */
* {
  font-family: "Cascadia Code", "FiraCode Nerd Font", "FiraCode",
    "Menlo, Geist Mono", "JetBrains Mono", "Consolas", "Courier New",
    "monospace" !important;
}
.codicon,
.octicon {
  font-family: "Codicon" !important;
}

/* INFO: Terminal Specifics */
.monaco-workbench
  .pane-composite-part
  > .header-or-footer
  > .composite-bar-container
  > .composite-bar
  > .monaco-action-bar
  .action-item.checked
  .action-label,
.monaco-workbench
  .pane-composite-part
  > .header-or-footer
  > .composite-bar-container
  > .composite-bar
  > .monaco-action-bar
  .action-item:hover:active
  .action-label,
.monaco-workbench
  .pane-composite-part
  > .title
  > .composite-bar-container
  > .composite-bar
  > .monaco-action-bar
  .action-item.checked
  .action-label,
.monaco-workbench
  .pane-composite-part
  > .title
  > .composite-bar-container
  > .composite-bar
  > .monaco-action-bar
  .action-item
  .action-label {
  font-family: "Algerian", "Cascadia Code" !important;
  border: none !important;
}

/* INFO: Comment and Text Style */
.mtk1 {
  color: #fdfeff !important;
  font-weight: 700 !important;
}
.mtk3 {
  color: #ffff00 !important;
  font-weight: 900 !important;
}
.mtk4 {
  color: darkorange !important;
}
.mtk10 {
  font-weight: 900 !important;
}

/* INFO: Line Number Style */
.line-numbers {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  left: 0 px;
  width: 35px !important;
  font-size: relative;
  font-family: "Algerian" !important;
  opacity: 0.7;
}

/* INFO: Panel Specifications */
.monaco-workbench .part > .header-or-footer,
.monaco-workbench .part > .title {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-items: center !important;
}

/* INFO: Tab Bar Tools */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-items: center !important;
}
.monaco-workbench
  .tabs-container
  .tab
  .tab-actions
  .action-label.codicon-close {
  display: none !important;
}

/* INFO: Editor Background */
.letterpress {
  background: none !important;
  background-image: none !important;
  display: none !important;
}
.monaco-editor,
.monaco-workbench,
.editor-instance,
.editor-group-container {
  background: transparent !important;
  background-image: none !important;
}
html,
body,
.monaco-editor-background,
.editor-background,
.letterpress {
  background: none !important;
  background-image: none !important;
}
.monaco-editor,
.monaco-workbench,
.editor-instance,
.editor-group-container {
  background: transparent !important;
}
.editor-group-watermark {
  max-width: none !important;
}
.command-center-center {
  width: auto !important;
}
.monaco-workbench {
  position: relative;
}
.monaco-workbench::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/Users/dibakar/Documents/Code/CustomCode/CustomWallpaper.jpg") !important;
  background-size: cover !important;
  background-position: center center !important;
  opacity: 0.3 !important;
  pointer-events: none;
  z-index: -2;
}

/* INFO: Side bar */
.part.sidebar {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

/* INFO: Primary Side-bar Title */
.part.sidebar > .title > .title-label h2 {
  font-family: "Algerian", "Cascadia Code", "Codicon" !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-items: center !important;
  font-size: 18px !important;
  color: ivory !important;
  text-shadow: gold 4px 4px 3px;
}

/* INFO: File Explorer */
.monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none !important;
}
.monaco-list.list_id_2 > .monaco-scrollable-element > .monaco-list-rows {
  padding-top: 10px !important;
}
.monaco-list.list_id_2
  > .monaco-scrollable-element
  > .monaco-list-rows
  .monaco-list-row {
  background: transparent !important;
  transition: 0.5s ease-in-out !important;
  margin-top: 5px !important;
  color: white !important;
  width: 98.5% !important;
}
.monaco-list.list_id_2
  > .monaco-scrollable-element
  > .monaco-list-rows
  .monaco-list-row.selected {
  font-family: "Cascadia Code", "Codicon" !important;
  box-shadow: 0 0 8px 3px rgba(0, 255, 255, 0.5) !important;
  border-radius: 25px !important;
  left: 2px !important;
}
.monaco-list.list_id_2
  > .monaco-scrollable-element
  > .monaco-list-rows
  .monaco-list-row:hover {
  font-family: "Algerian", "Codicon" !important;
  background-color: rgba(255, 215, 0, 0.25) !important;
  border-radius: 25px !important;
  transition: all 0.6s ease-in-out !important;
  * {
    font-family: inherit !important;
    font-weight: 100 !important;
  }
}
.monaco-list.list_id_2
  > .monaco-scrollable-element
  > .monaco-list-rows
  .monaco-list-row
  > .monaco-tl-row
  .monaco-tl-contents
  > .monaco-icon-label {
  font-size: 10px !important;
  font-weight: 600 !important;
  color: white !important;
  animation: glowCycle 10s infinite alternate ease-in-out;
}

/* INFO: Bar Window Background */
.monaco-workbench .part.sidebar::before,
.monaco-workbench .part.auxiliarybar::before {
  content: "";
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/Users/dibakar/Documents/Code/CustomCode/Trident.png") !important;
  background-position: center center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  opacity: 0.35 !important;
  pointer-events: none !important;
  z-index: -1 !important;
}

/* INFO: Vertical Borders */
.monaco-sash.vertical.mac[style*="left: 280px"],
.monaco-sash.vertical.mac[style*="left: 1240px"],
.monaco-workbench .activitybar.right.bordered:before,
.monaco-workbench .activitybar.bordered:before {
  border-left: 2px solid rgba(150, 0, 255, 0.3) !important;
}

/* INFO: Custom Activity Bar Icons  */
.codicon-accounts-view-bar-icon:before {
  content: "";
  width: 75%;
  height: 75%;
  position: absolute !important;
  background-image: url("/Users/dibakar/Documents/Code/CustomCode/Photo.jpeg") !important;
  background-size: 100% !important;
  background-position: center center !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  object-fit: cover;
}
.codicon-settings-view-bar-icon:before {
  content: "";
  width: 65%;
  height: 65%;
  position: absolute !important;
  background-image: url("/Users/dibakar/Documents/Code/CustomCode/Gears.png") !important;
  background-size: 100% !important;
  background-position: center center !important;
  opacity: 0.8 !important;
  border-radius: 50% !important;
  object-fit: cover;
}

/* INFO: Hover Effect on Activity Bar Icons */
.monaco-action-bar .action-label.codicon {
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-label.codicon::before {
  position: absolute;
  border-radius: 50%;
  transition: transform 1s ease-in-out !important;
  transition: transform 1s ease-in-out, color 1s ease-in-out,
    box-shadow 1s ease-in-out !important;
  color: #ffd700 !important;
}
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-label.codicon:hover::before {
  display: block !important;
  position: absolute !important;
  transform: scale(1.5) rotate(10deg) !important;
  transition: transform 0.5s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out !important;
  color: #00ff00 !important;
  box-shadow: 0 0 4px 2px rgba(0, 255, 0, 0.8) !important;
  border-radius: 50% !important;
  background-color: #000 !important;
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer !important;
  will-change: transform, color, box-shadow !important;
  z-index: -1 !important;
}

/* INFO: Side bar Top Shadow */
.monaco-scrollable-element > .shadow.top {
  box-shadow: 0px 0px 100px rgba(255, 0, 0, 0.75) !important;
}

/* INFO: Side bar Scroll */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 1px !important;
  background: #bc9abc !important;
  left: auto !important;
}
.codicon-toolbar-more,
.codicon-word-wrap {
  display: block !important;
}

/* INFO: Tool Tip Box Style ( Hover Over Something To Open Tool Tip ) */
.monaco-editor-hover,
.monaco-hover {
  font-family: "Cascadia Code", "Codicon" !important;
  color: #00ff00 !important;
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  transition: all 1s ease-in-out !important;
}
.monaco-editor-hover:hover,
.monaco-hover:hover {
  font-family: "Times New Roman", "Codicon" !important;
  color: #ffd700 !important;
  padding: 0 0 0.5% !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px !important;
  backdrop-filter: blur(3px) !important;
  background: rgba(255, 255, 255, 0.05) !important;
  min-width: 220px !important;
  transition: all 0.75s ease-in-out !important;
}

/* INFO: Command Palette */
.quick-input-widget,
.quick-input-widget .quick-input-list,
.quick-input-widget .quick-input-list > .monaco-list,
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element,
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows,
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  .monaco-list-row {
  background-color: transparent !important;
}
.quick-input-widget {
  width: auto !important;
  min-width: 62.5vw !important;
  height: auto !important;
  min-height: 46.875vh !important;
  font-size: 16px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 0.5% !important;
  backdrop-filter: blur(4px) !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 8px 2px rgba(0, 255, 255, 0.8) !important;
}
.quick-input-widget::before {
  content: "" !important;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/Users/dibakar/Documents/Code/CustomCode/Mask.png") !important;
  background-position: center center !important;
  background-size: 35% !important;
  background-repeat: no-repeat !important;
  opacity: 0.3 !important;
  pointer-events: none !important;
  z-index: 0 !important;
}
.quick-input-widget .quick-input-header .quick-input-and-message {
  max-height: 3.5vh !important;
}
.quick-input-widget
  .quick-input-header
  .quick-input-and-message
  .quick-input-filter
  .monaco-inputbox {
  margin: 0 !important;
}
.quick-input-widget
  .quick-input-header
  .quick-input-and-message
  > .quick-input-filter
  > .quick-input-box
  > .monaco-findInput
  > .monaco-inputbox
  > .ibwrapper
  > .input {
  border-radius: 25px !important;
  box-shadow: 0 0 8px 2px rgba(255, 0, 255, 0.8) !important;
}
.quick-input-filter .monaco-inputbox {
  padding: 8px !important;
  border-radius: 25px !important;
  border: none !important;
  font-family: "Cascadia Code", "Codicon" !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}
.quick-input-widget .quick-input-list {
  padding: 0 !important;
  height: auto !important;
}
.quick-input-widget .quick-input-list > .monaco-list {
  width: auto !important;
  height: auto !important;
  max-height: 55vh !important;
  font-size: 14px !important;
  padding: 10px 0 !important;
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows {
  padding-bottom: 10px !important;
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  > .monaco-list-row {
  width: auto !important;
  min-width: 60.4vw !important;
  margin: 5px 5px 0 5px !important;
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  > .monaco-list-row:hover {
  font-family: "Algerian", "Codicon" !important;
  box-shadow: 0 0 8px 2px rgba(0, 255, 105, 0.8) !important;
  border-radius: 25px !important;
  transition: all 0.6s ease-in-out !important;
  * {
    font-family: inherit !important;
    height: auto !important;
  }
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  > .monaco-list-row.focused {
  font-family: "Algerian", "Codicon" !important;
  border-left: 4px solid rgba(255, 0, 255, 0.8) !important;
  border-right: 4px solid rgba(255, 0, 255, 0.8) !important;
  border-radius: 25px !important;
  color: #ffd700 !important;
  filter: drop-shadow(6px 0 16px rgba(0, 255, 105, 1)) !important;
  transition: all 0.6s ease-in-out !important;
  * {
    font-family: inherit !important;
    height: auto !important;
  }
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  > .monaco-list-row.focused::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -1 !important;
  background: linear-gradient(
    to right,
    rgba(0, 255, 105, 0.08),
    rgba(0, 255, 105, 0.025),
    rgba(0, 255, 105, 0)
  ) !important;
}
.quick-input-widget
  .quick-input-list
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  > .monaco-list-row
  > .monaco-tl-row
  .monaco-tl-contents
  > .quick-input-list-entry
  .monaco-action-bar
  > .actions-container {
  padding-top: 3px !important;
}

/* INFO: Tab Switching and Tab Container */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fixed.close-action-off:not(.sticky-compact),
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-shrink.close-action-off:not(.sticky-compact) {
  margin: 0 !important;
  padding: 0 !important;
}
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab:has(
    .monaco-icon-label
      > .monaco-icon-label-container
      > .monaco-icon-name-container
      > .label-name
  ) {
  color: #f2f0ef !important;
  transition: 0.5s ease-in-out !important;
}
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab:has(
    .monaco-icon-label
      > .monaco-icon-label-container
      > .monaco-icon-name-container
      > .label-name
  ).active {
  color: #00ff00 !important;
  transition: 0.5s ease-in-out !important;
}
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab:has(
    .monaco-icon-label
      > .monaco-icon-label-container
      > .monaco-icon-name-container
      > .label-name
  ):hover {
  transform: scale(1.2) !important;
  transition: transform 0.5s ease-in-out !important;
}
.monaco-workbench
  .part.editor
  > .content:not(.dragged-over)
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.sizing-shrink.active:not(.dragged):not(.sticky-compact)
  > .tab-label
  > .monaco-icon-label-container::after,
.monaco-workbench
  .part.editor
  > .content:not(.dragged-over)
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.sizing-fixed.active:not(.dragged):not(.sticky-compact)
  > .tab-label
  > .monaco-icon-label-container::after {
  background: none !important;
  background-color: none !important;
  box-shadow: none !important;
  border: none !important;
}
.monaco-workbench
  .part.editor
  > .content:not(.dragged-over)
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.sizing-shrink:not(.dragged):not(.sticky-compact)
  > .tab-label
  > .monaco-icon-label-container::after,
.monaco-workbench
  .part.editor
  > .content:not(.dragged-over)
  .editor-group-container.active
  > .title
  .tabs-container
  > .tab.sizing-fixed:not(.dragged):not(.sticky-compact)
  > .tab-label
  > .monaco-icon-label-container::after {
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.monaco-workbench .tabs-container {
  background-color: transparent !important;
  animation: tabSlideIn 3s !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tab {
  background-color: transparent !important;
  animation: tabSlideIn 3s !important;
}
.monaco-workbench
  .part.editor
  .editor-group-container
  .title.tabs
  .tab.closing {
  animation: tabSlideOut 3s !important;
}

/* INFO: Error Lens Icons */
.monaco-editor .ced-1-TextEditorDecorationType33-2 {
  background: url("/Users/dibakar/Documents/Code/CustomCode/ErrorLens01.png") !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border: none !important;
  border-radius: 50% !important;
}

/* INFO: Notification Specifications */
.monaco-workbench
  > .notifications-toasts
  .notification-toast-container
  > .notification-toast,
.monaco-workbench
  > .notifications-toasts
  .notification-toast-container
  > .notification-toast
  .monaco-list-row,
.monaco-workbench
  > .notifications-toasts
  .notification-toast-container
  > .notification-toast
  .monaco-list:not(.element-focused):focus:before,
.monaco-workbench
  > .notifications-toasts
  .notification-toast-container
  > .notification-toast
  .monaco-scrollable-element,
.monaco-workbench > .notifications-toasts .notifications-list-container {
  background: transparent !important;
}
.monaco-workbench > .notifications-toasts.visible {
  transition: all 1s ease-in-out !important;
}
.monaco-workbench > .notifications-toasts.visible:hover {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(2px) !important;
  -webkit-backdrop-filter: blur(2px) !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  border-radius: 25px !important;
  transition: all 0.75s ease-in-out !important;
}
.monaco-workbench
  .notifications-list-container
  .notification-list-item
  .notification-list-item-source {
  background-color: transparent !important;
  color: #ffd700;
  font-family: "Times New Roman", "Codicon" !important;
}
.monaco-workbench
  .notifications-list-container
  .notification-list-item
  .notification-list-item-buttons-container
  .monaco-text-button {
  background-color: transparent !important;
  transition: transform 0.5s ease-in-out !important;
  font-family: "Algerian", "Codicon" !important;
}
.monaco-workbench
  .notifications-list-container
  .notification-list-item
  .notification-list-item-buttons-container
  .monaco-text-button:hover {
  background-color: transparent !important;
  color: #00ff00 !important;
  transform: scale(1.05) rotate(-2deg) !important;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  border: 0.1px solid rgba(255, 255, 255, 0.05) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.8) !important;
  position: relative !important;
  z-index: 2 !important;
  pointer-events: auto !important;
}

/* INFO: Custom Word Highlights */
.monaco-editor .wordHighlight {
  background-color: rgba(0, 255, 200, 0.13) !important;
  border-radius: 2px;
  box-shadow: 0 0 8px 2px rgba(0, 200, 255, 1) !important;
}
.monaco-editor .selected-text {
  background-color: rgba(0, 255, 200, 0.13) !important;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 255, 100, 1) !important;
}
